<meta charset="utf-8">
<title>Todo list</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple todo list">
<meta name="author" content="Tim Millwood">

<link href="/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap-responsive.css">
<style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }

  .greeting {
    border-bottom: 1px solid #666677;
    padding-bottom: 34px
  }

  #todo-list li {
    border-bottom: 1px solid #333333;
    padding: 15px 0;
  }

  .item {
    font-size: 24px;
  }

  .flash.error {
    color: rgb(240,20,20)
  }

  .login-message {
    color: rgb(220,120,0)
  }
</style>
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
