<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial(:meta_and_styles) %>
  </head>

  <body>
    <div class="container">
      <%= partial(:flash) %>
        <h1><%= @title %></h1>
      <%= yield %>
    </div>

    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/todolist.js"></script>
  </body>
</html>
